SensorTester/Service References/PerceiverAPIs/PerceiverAPI3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.112.179.196:8080/PerceiverAPI?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GlobalAPI" />
  <xs:import schemaLocation="http://10.112.179.196:8080/PerceiverAPI?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import schemaLocation="http://10.112.179.196:8080/PerceiverAPI?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FileMaintenance" />
  <xs:element name="GetDriveInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriveInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GlobalAPI" minOccurs="0" name="GetDriveInfoResult" nillable="true" type="q1:ArrayOfDriveSpaces" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFolderInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFolderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetFolderInfoResult" nillable="true" type="q2:ArrayOfFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FileMaintenance" minOccurs="0" name="GetJobListResult" nillable="true" type="q3:ArrayOfMaintSch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProcessAuditResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>