SensorTester/Service References/PerceiverAPIs/PerceiverAPI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileMaintenance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileMaintenance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMaintSch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaintSch" nillable="true" type="tns:MaintSch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaintSch" nillable="true" type="tns:ArrayOfMaintSch" />
  <xs:complexType name="MaintSch">
    <xs:sequence>
      <xs:element minOccurs="0" name="DebugMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="FileExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncludeSubFolder" type="xs:boolean" />
      <xs:element minOccurs="0" name="IntervalToKeep" type="xs:int" />
      <xs:element minOccurs="0" name="IsJobActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobType" type="tns:JobType" />
      <xs:element minOccurs="0" name="KeepIntervalsType" type="tns:KeepIntervalType" />
      <xs:element minOccurs="0" name="SpecialDay" type="tns:SpecialDay" />
      <xs:element minOccurs="0" name="SpecificDay" type="xs:int" />
      <xs:element minOccurs="0" name="TargetFolderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaintSch" nillable="true" type="tns:MaintSch" />
  <xs:simpleType name="JobType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Delete" />
      <xs:enumeration value="Move" />
      <xs:enumeration value="Compress" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JobType" nillable="true" type="tns:JobType" />
  <xs:simpleType name="KeepIntervalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Days" />
      <xs:enumeration value="Month" />
      <xs:enumeration value="Year" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="KeepIntervalType" nillable="true" type="tns:KeepIntervalType" />
  <xs:simpleType name="SpecialDay">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotInUse" />
      <xs:enumeration value="LastDayOfMonth" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SpecialDay" nillable="true" type="tns:SpecialDay" />
</xs:schema>