SensorTester/Service References/PerceiverAPIs/PerceiverAPIs1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PerceiverAPIs" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://msi:8080/PerceiverAPI?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://msi:8080/PerceiverAPI?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://msi:8080/PerceiverAPI?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GlobalAPI" />
      <xsd:import schemaLocation="http://msi:8080/PerceiverAPI?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://msi:8080/PerceiverAPI?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FileMaintenance" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISpaceProbe_GetDriveInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriveInfo" />
  </wsdl:message>
  <wsdl:message name="ISpaceProbe_GetDriveInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriveInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFolderMaintenance_GetFolderInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFolderInfo" />
  </wsdl:message>
  <wsdl:message name="IFolderMaintenance_GetFolderInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFolderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFolderMaintenance_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="IFolderMaintenance_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="IJobMaintenance_GetJobList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobList" />
  </wsdl:message>
  <wsdl:message name="IJobMaintenance_GetJobList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISpaceProbe">
    <wsdl:operation name="GetDriveInfo">
      <wsdl:input wsam:Action="http://tempuri.org/ISpaceProbe/GetDriveInfo" message="tns:ISpaceProbe_GetDriveInfo_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpaceProbe/GetDriveInfoResponse" message="tns:ISpaceProbe_GetDriveInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IFolderMaintenance">
    <wsdl:operation name="GetFolderInfo">
      <wsdl:input wsam:Action="http://tempuri.org/IFolderMaintenance/GetFolderInfo" message="tns:IFolderMaintenance_GetFolderInfo_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IFolderMaintenance/GetFolderInfoResponse" message="tns:IFolderMaintenance_GetFolderInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsam:Action="http://tempuri.org/IFolderMaintenance/GetFile" message="tns:IFolderMaintenance_GetFile_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IFolderMaintenance/GetFileResponse" message="tns:IFolderMaintenance_GetFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IJobMaintenance">
    <wsdl:operation name="GetJobList">
      <wsdl:input wsam:Action="http://tempuri.org/IJobMaintenance/GetJobList" message="tns:IJobMaintenance_GetJobList_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IJobMaintenance/GetJobListResponse" message="tns:IJobMaintenance_GetJobList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISpaceProbe" type="tns:ISpaceProbe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDriveInfo">
      <soap:operation soapAction="http://tempuri.org/ISpaceProbe/GetDriveInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IFolderMaintenance" type="tns:IFolderMaintenance">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFolderInfo">
      <soap:operation soapAction="http://tempuri.org/IFolderMaintenance/GetFolderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/IFolderMaintenance/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IJobMaintenance" type="tns:IJobMaintenance">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJobList">
      <soap:operation soapAction="http://tempuri.org/IJobMaintenance/GetJobList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerceiverAPIs">
    <wsdl:port name="BasicHttpBinding_ISpaceProbe" binding="tns:BasicHttpBinding_ISpaceProbe">
      <soap:address location="http://msi:8080/PerceiverAPI" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IFolderMaintenance" binding="tns:BasicHttpBinding_IFolderMaintenance">
      <soap:address location="http://msi:8080/PerceiverAPI" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IJobMaintenance" binding="tns:BasicHttpBinding_IJobMaintenance">
      <soap:address location="http://msi:8080/PerceiverAPI" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>