SensorTester/Service References/probeAPI/ProbeAPI3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8080/ProbeAPI?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProbeGateway" />
  <xs:import schemaLocation="http://127.0.0.1:8080/ProbeAPI?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:element name="GetDriveInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriveInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProbeGateway" minOccurs="0" name="GetDriveInfoResult" nillable="true" type="q1:ArrayOfDriveSpaces" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFolderInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFolderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetFolderInfoResult" nillable="true" type="q2:ArrayOfFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>