SensorTester/Service References/probeAPI/ProbeSensor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProbeSensor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.112.179.196:8080/ProbeAPI?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.112.179.196:8080/ProbeAPI?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.112.179.196:8080/ProbeAPI?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProbeGateway" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISpaceProbe_GetDriveInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriveInfo" />
  </wsdl:message>
  <wsdl:message name="ISpaceProbe_GetDriveInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriveInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISpaceProbe_GetFolderInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFolderInfo" />
  </wsdl:message>
  <wsdl:message name="ISpaceProbe_GetFolderInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFolderInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISpaceProbe">
    <wsdl:operation name="GetDriveInfo">
      <wsdl:input wsam:Action="http://tempuri.org/ISpaceProbe/GetDriveInfo" message="tns:ISpaceProbe_GetDriveInfo_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpaceProbe/GetDriveInfoResponse" message="tns:ISpaceProbe_GetDriveInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFolderInfo">
      <wsdl:input wsam:Action="http://tempuri.org/ISpaceProbe/GetFolderInfo" message="tns:ISpaceProbe_GetFolderInfo_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpaceProbe/GetFolderInfoResponse" message="tns:ISpaceProbe_GetFolderInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISpaceProbe" type="tns:ISpaceProbe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDriveInfo">
      <soap:operation soapAction="http://tempuri.org/ISpaceProbe/GetDriveInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolderInfo">
      <soap:operation soapAction="http://tempuri.org/ISpaceProbe/GetFolderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProbeSensor">
    <wsdl:port name="BasicHttpBinding_ISpaceProbe" binding="tns:BasicHttpBinding_ISpaceProbe">
      <soap:address location="http://10.112.179.196:8080/ProbeAPI" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>