SensorTester/Service References/probeAPI/ProbeAPI32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProbeGateway" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProbeGateway" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDriveSpaces">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DriveSpaces" nillable="true" type="tns:DriveSpaces" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDriveSpaces" nillable="true" type="tns:ArrayOfDriveSpaces" />
  <xs:complexType name="DriveSpaces">
    <xs:sequence>
      <xs:element minOccurs="0" name="driveLetter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="freeSpace" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriveSpaces" nillable="true" type="tns:DriveSpaces" />
</xs:schema>