SensorTester/Service References/cressvc/cresapi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CRESapi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRESapi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfinterfaceFiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="interfaceFiles" nillable="true" type="tns:interfaceFiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfinterfaceFiles" nillable="true" type="tns:ArrayOfinterfaceFiles" />
  <xs:complexType name="interfaceFiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="encFile" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="interfaceFiles" nillable="true" type="tns:interfaceFiles" />
</xs:schema>