SensorTester/Service References/cressvc/CRESapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRESapi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.112.179.196:5880/cresapi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.112.179.196:5880/cresapi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.112.179.196:5880/cresapi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://10.112.179.196:5880/cresapi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CRESapi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRESapi_GetProcessAudit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessAudit" />
  </wsdl:message>
  <wsdl:message name="ICRESapi_GetProcessAudit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessAuditResponse" />
  </wsdl:message>
  <wsdl:message name="ICRESapi_GetGARecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGARecords" />
  </wsdl:message>
  <wsdl:message name="ICRESapi_GetGARecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGARecordsResponse" />
  </wsdl:message>
  <wsdl:message name="ICRESapi_GetInterFaceFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInterFaceFile" />
  </wsdl:message>
  <wsdl:message name="ICRESapi_GetInterFaceFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInterFaceFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRESapi">
    <wsdl:operation name="GetProcessAudit">
      <wsdl:input wsam:Action="http://tempuri.org/ICRESapi/GetProcessAudit" message="tns:ICRESapi_GetProcessAudit_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ICRESapi/GetProcessAuditResponse" message="tns:ICRESapi_GetProcessAudit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGARecords">
      <wsdl:input wsam:Action="http://tempuri.org/ICRESapi/GetGARecords" message="tns:ICRESapi_GetGARecords_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ICRESapi/GetGARecordsResponse" message="tns:ICRESapi_GetGARecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInterFaceFile">
      <wsdl:input wsam:Action="http://tempuri.org/ICRESapi/GetInterFaceFile" message="tns:ICRESapi_GetInterFaceFile_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ICRESapi/GetInterFaceFileResponse" message="tns:ICRESapi_GetInterFaceFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRESapi" type="tns:ICRESapi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProcessAudit">
      <soap:operation soapAction="http://tempuri.org/ICRESapi/GetProcessAudit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGARecords">
      <soap:operation soapAction="http://tempuri.org/ICRESapi/GetGARecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInterFaceFile">
      <soap:operation soapAction="http://tempuri.org/ICRESapi/GetInterFaceFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRESapi">
    <wsdl:port name="BasicHttpBinding_ICRESapi" binding="tns:BasicHttpBinding_ICRESapi">
      <soap:address location="http://10.112.179.196:5880/cresapi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>